{%extends 'base.html'%}



{%block name_page%}
BRJ3LK
{%endblock%}

{%block contant%}


<section class="padding-bottom">
    <header class="section-heading mb-4">
        <h3 class="title-section" style="font-style:30px;text-align:center;font-style: oblique;">Found {{stores|length}} Stores </h3>
    </header>

    <div class="row">

       {%for store in stores %}
        <div class="col-xl-3 col-lg-3 col-md-4 col-6">
            <div class="card card-product-grid">
                <a href="{{url_for('clothes_with_store_filter',id_store=store.id)}}" class="img-wrap"> <img src="static/uploads/{{store.image}}" style= " border-radius: 8px;"> </a>
                <figcaption class="info-wrap">
                    <ul class="rating-stars mb-1">
                        <li style="width:80%" class="stars-active">
                            <img src="static/uploads/{{store.image}}"  alt="">
                        </li>
                        <li>
                            <img src="static/uploads/{{store.image}}"  alt="">
                        </li>

                    </ul>


                       <div class="price h3 mt-2">{{store.name}}</div>
                        <div class=" h5 mt-2">Location : {{store.location}}</div>
                    <div class=" h6 mt-2">Phone :{{store.phone}}</div>



                </figcaption>
            </div>
        </div> <!-- col.// -->
        {%endfor%}
    </div> <!-- row.// -->
</section>

{%endblock%}
