{%extends 'base.html'%}
{%block style%}
<link href="static/css/login_page.css" rel="stylesheet" type="text/css"/>
{%endblock%}

{%block title%}
Login page
{%endblock%}

{%block name_page%}
Login Page
{%endblock%}

{%block contant%}
<body class="text-center">
<div class="container wrapper fadeInDown">
    <div id="formContent">
        <h2>
        LOG IN PAGE
    </h2>
        <br>
        <form method="POST" class="form-signin">
            {{ form.hidden_tag() }}
            <!--            <img class="mb-4" src="https://www.leading-point.com/web/image/website/2/logo?unique=4dd3f48">-->
            <div class="fadeIn first">
                <img src="static/img/user.svg" width="150" id="icon" alt="User Icon"/>
            </div>
            <br><br>
            <!--        {{ form.username.label() }}-->
            {{ form.username(class="fadeIn second ", placeholder="User Name",
            width="10") }}
            <br><br>
            <!--        {{ form.password.label() }}-->

            {{ form.password(class="fadeIn third", placeholder="Password",type="password") }}

            <br><br><br>


            <div class="checkbox mb-3">
                <h6 class="text-muted">Do not have an account?</h6>
                <a class="btn  btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn fadeIn fourth") }}
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>
        </form>
    </div>
</div>

</body>
{% endblock %}