{%extends 'login.html'%}
{%block title%}
Login Admin page
{%endblock%}

{%block name_page%}
Login Admin Page
{%endblock%}

{%block contant%}
<body class="text-center">
<div class="container wrapper fadeInDown">
    <div id="formContent">
        <h2>
        LOG IN STORE PAGE
    </h2>
        <br>
        <form method="POST" class="form-signin">
            {{ form.hidden_tag() }}
            <div class="fadeIn first">
                <img src="static/img/user.svg" width="150" id="icon" alt="User Icon"/>
            </div>
            <br><br>

            {{ form.phone(class="fadeIn second ", placeholder="Phone",
            width="10") }}
            <br><br>

            {{ form.password(class="fadeIn third", placeholder="Password",type="password") }}

            <br><br><br>


            <div class="checkbox mb-3">
                <h6 class="text-muted">Do not have an account?</h6>
                <a class="btn  btn-secondary" href="{{ url_for('register_store_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn fadeIn fourth") }}
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>
        </form>
    </div>
</div>

</body>
{% endblock %}